@import url('https://fonts.googleapis.com/css?family=Montserrat|Playfair+Display');

// text style1
$text-style-font: PlayfairDisplay;
$text-style-size: 48px;
$text-style-weight: bold;
$text-style-style: normal;
$text-style-stretch: normal;
$text-style-line-height: 1.5;
$text-style-letter-spacing: 2px;

// text style2
$text-style2-font: Montserrat;
$text-style2-size: 24px;
$text-style2-weight: bold;
$text-style2-style: normal;
$text-style2-stretch: normal;
$text-style2-line-height: 1.5;
$text-style2-letter-spacing: 1px;
$text-style2-color: #f62f5e;

// text style3
$text-style3-font: Montserrat;
$text-style3-size: 15px;
$text-style3-weight: bold;
$text-style3-style: normal;
$text-style3-stretch: normal;
$text-style3-line-height: 2.4;
$text-style3-letter-spacing: normal;
$text-style3: #2e2e2e;

// text style4
$text-style4-font: Montserrat;
$text-style4-size: 15px;
$text-style4-weight: bold;
$text-style4-style: normal;
$text-style4-stretch: normal;
$text-style4-line-height: 2.4;
$text-style4-letter-spacing: normal;
$text-style4: #f62f5e;