@import '~assets/styles/main';


.greatstuff {
  padding: 36px 30px;
  display: flex;
  justify-content: center;
  flex-direction: column;

  .greatstuff_name {

    div:nth-child(1) {
      margin: 0 auto;
      height: 72px;
      font-family: PlayfairDisplay;
      font-size: 48px;
      font-weight: bold;
      font-style: normal;
      font-stretch: normal;
      line-height: 1.5;
      letter-spacing: 2px;
      text-align: center;
      color: #2e2e2e;
    }

    div:nth-child(2) {
      width: 213px;
      height: 48px;
      font-family: Montserrat;
      font-size: 16px;
      font-weight: bold;
      font-style: normal;
      font-stretch: normal;
      line-height: 1.5;
      letter-spacing: normal;
      text-align: center;
      color: #2e2e2e;
      margin: 0 auto;
    }
  }

  .stuff {
    height: 650px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    // border: 1px solid gray;

    @include media('<screen-x') {
      height: 950px;
    }

    @include media('<tablet-xx') {
      height: 1250px;
    }

    .stuff_categories {
      width: 186px;
      margin-right: 54px;

      @include media('<screen-x') {
        width: 100%;
        margin: 0;
        height: 250px;
      }

      p {
        font-family: Montserrat;
        font-size: 16px;
        font-weight: bold;
        font-style: normal;
        font-stretch: normal;
        line-height: 1.5;
        letter-spacing: normal;
        color: $red-pink;
        margin-bottom: 10px;
      }

      .categories {
        font-family: LucidaGrande;
        font-size: 16px;
        font-weight: bold;
        font-style: normal;
        font-stretch: normal;
        line-height: 1.5;
        letter-spacing: normal;
        color: #2e2e2e;
        cursor: pointer;
        &:hover {
          color: $red-pink;
        }
        -webkit-animation: fadein 1s; /* Safari, Chrome and Opera > 12.1 */
        -moz-animation: fadein 1s; /* Firefox < 16 */
         -ms-animation: fadein 1s; /* Internet Explorer */
          -o-animation: fadein 1s; /* Opera < 12.1 */
             animation: fadein 1s;

             @keyframes fadein {
              from { opacity: 0; }
              to   { opacity: 1; }
          }
          
          /* Firefox < 16 */
          @-moz-keyframes fadein {
              from { opacity: 0; }
              to   { opacity: 1; }
          }
          
          /* Safari, Chrome and Opera > 12.1 */
          @-webkit-keyframes fadein {
              from { opacity: 0; }
              to   { opacity: 1; }
          }
          
          /* Internet Explorer */
          @-ms-keyframes fadein {
              from { opacity: 0; }
              to   { opacity: 1; }
          }
          
          /* Opera < 12.1 */
          @-o-keyframes fadein {
              from { opacity: 0; }
              to   { opacity: 1; }
          }

      }

    }

    .stuff_departments {
      flex: 1;
      display: flex;
      flex-direction: column;

      @include media('<tablet-xx') {
        height: 1050px;
      }

      .regional {
        height: 300px;
        border: .5px solid #efefef;
        margin-bottom: 24px;
        padding: 0 0 0 110px;
        display: flex;
        align-items: center;
        justify-content: flex-start;

        @include media('<tablet-xx') {
          padding: 0;
          justify-content: center;
        }

        div {
          font-family: PlayfairDisplay;
          font-size: 40px;
          font-weight: bold;
          font-style: normal;
          font-stretch: normal;
          line-height: 1.5;
          letter-spacing: 2px;
          color: #6c6c6c;
          margin-bottom: 24px;
          cursor: pointer;
        }
        div:hover {
          color: $red-pink;
        }
      }

      div:nth-child(2) {
        height: 300px;
        display: flex;
        flex-direction: row;
        width: 100%;
        flex-wrap: wrap;
        
        .natual {
          width: 380px;
          margin-right: 20px;
          border: .5px solid #efefef;
          // background-color: #d8ae47;

          @include media('<screen-x') {
            width: 50%;
          }

          @include media('<tablet-xx') {
            width: 100%;
            margin: 0;
            height: 300px;
            margin-bottom: 24px;
          }
        }

        .seasonal {
          flex: 1;
          border: .5px solid #efefef;
          // background-color: #bd3d3a;
        }

        .natual,
        .seasonal {
          display: flex;
          justify-content: center;
          align-items: center;
          flex-direction: column;
          div {
            font-family: PlayfairDisplay;
            font-size: 40px;
            font-weight: bold;
            font-style: normal;
            font-stretch: normal;
            line-height: 1.5;
            letter-spacing: 2px;
            color: #6c6c6c;
            margin-bottom: 24px;
            cursor: pointer;
          }
          div:hover {
            color: $red-pink;
          }
        }
      }

      .regional,
      .seasonal,
      .natual {

        // &:hover {
        //   opacity: 0.8;
        // }

        div {
          -webkit-animation: fadein 1s; /* Safari, Chrome and Opera > 12.1 */
          -moz-animation: fadein 1s; /* Firefox < 16 */
           -ms-animation: fadein 1s; /* Internet Explorer */
            -o-animation: fadein 1s; /* Opera < 12.1 */
               animation: fadein 1s;
    
               @keyframes fadein {
                from { opacity: 0; }
                to   { opacity: 1; }
            }
            
            /* Firefox < 16 */
            @-moz-keyframes fadein {
                from { opacity: 0; }
                to   { opacity: 1; }
            }
            
            /* Safari, Chrome and Opera > 12.1 */
            @-webkit-keyframes fadein {
                from { opacity: 0; }
                to   { opacity: 1; }
            }
            
            /* Internet Explorer */
            @-ms-keyframes fadein {
                from { opacity: 0; }
                to   { opacity: 1; }
            }
            
            /* Opera < 12.1 */
            @-o-keyframes fadein {
                from { opacity: 0; }
                to   { opacity: 1; }
            }
        }

      }
    }
  }
}