@import '~assets/styles/main';
.products {
  padding: 0 30px 0 30px;
  background: #f7f7f7;
  display: flex;
  flex-direction: column ;

  .first {
    display: flex;
    flex-direction: row;

    @include media('<screen-x') {
      flex-direction: column;
    }

    .attribute {
      width: 220px;
      height: 697px;
      background-color: #ffffff;
      margin-right: 20px;
      margin-top: 3%;
      
      @include media('<screen-x') {
        width: 100%;
        height: 250px;
      }

      .top {
        width: 220px;
        // height: 121px;
        height: 55px;
        background-color: #fafafa;
        padding: 15px 0 0 20px;
        
        @include media('<screen-x') {
          width: 100%;
          height: 55px;
        }

        p {
          width: 131px;
          height: 24px;
          font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
          font-size: 16px;
          font-weight: bold;
          font-style: normal;
          font-stretch: normal;
          line-height: 1.5;
          letter-spacing: normal;
          color: #2e2e2e;
        }
      }
      .product_categories {
        padding: 15px 0 0 20px;

        .categories {
          font-family: LucidaGrande;
          font-size: 14px;
          font-weight: normal;
          font-style: normal;
          font-stretch: normal;
          line-height: 1.5;
          letter-spacing: normal;
          color: #2e2e2e;
          cursor: pointer;
          &:hover {
            color: $red-pink;
          }
          -webkit-animation: fadein 1s; /* Safari, Chrome and Opera > 12.1 */
          -moz-animation: fadein 1s; /* Firefox < 16 */
           -ms-animation: fadein 1s; /* Internet Explorer */
            -o-animation: fadein 1s; /* Opera < 12.1 */
               animation: fadein 1s;
  
               @keyframes fadein {
                from { opacity: 0; }
                to   { opacity: 1; }
            }
            
            /* Firefox < 16 */
            @-moz-keyframes fadein {
                from { opacity: 0; }
                to   { opacity: 1; }
            }
            
            /* Safari, Chrome and Opera > 12.1 */
            @-webkit-keyframes fadein {
                from { opacity: 0; }
                to   { opacity: 1; }
            }
            
            /* Internet Explorer */
            @-ms-keyframes fadein {
                from { opacity: 0; }
                to   { opacity: 1; }
            }
            
            /* Opera < 12.1 */
            @-o-keyframes fadein {
                from { opacity: 0; }
                to   { opacity: 1; }
            }
        }
      }
      .buttons {
        padding: 28px 0 0 20px;
      }
    }
    .items {
      flex: 1;
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: flex-start;

      & > * {
        flex: 0 0 32%;
        margin: 3% 0;
      }

      & > :nth-child(3n-1) {
        margin-left: 2%;
        margin-right: 2%;
      }
      @include media('<screen-x') {
        margin-top: 30px;
      }
    }
  }

}